vim/.netrwhist
vim/tmp
vim/plugged
vim/undodir
vim/autoload/plug.vim
config/gh
irssi/certs/*.pem
irssi/fnotify
tmux/plugins/*
tmux/resurrect
Brewfile.lock.json
zsh/secrets
config/configstore/update-notifier-npm.json
config/op*
config/github-copilot*

