vim/.netrwhist
vim/tmp
vim/plugged
vim/undodir
bash/local
vim/autoload/plug.vim.old
vim/autoload/plug.vim
config/htop
config/configstore
config/devkit
config/gh
config/restic/env
config/shadowenv
irssi/certs/*.pem
irssi/fnotify
tmux/plugins
tmux/resurrect
Brewfile.lock.json
