[submodule "vim/pathogen/vim-fugitive"]
	path = vim/pathogen/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pathogen/vim-cucumber"]
	path = vim/pathogen/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/pathogen/vim-commentary"]
	path = vim/pathogen/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pathogen/vim-bundler"]
	path = vim/pathogen/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/pathogen/vim-haml"]
	path = vim/pathogen/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "vim/pathogen/vim-rails"]
	path = vim/pathogen/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/pathogen/vim-markdown"]
	path = vim/pathogen/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/pathogen/ctrlp.vim"]
	path = vim/pathogen/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/pathogen/vim-turbux"]
	path = vim/pathogen/vim-turbux
	url = https://github.com/jgdavey/vim-turbux.git
[submodule "vim/pathogen/vim-coffee-script"]
	path = vim/pathogen/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/pathogen/snipmate"]
	path = vim/pathogen/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/pathogen/tslime.vim"]
	path = vim/pathogen/tslime.vim
	url = https://github.com/jgdavey/tslime.vim.git
[submodule "vim/pathogen/tabular"]
	path = vim/pathogen/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pathogen/ag"]
	path = vim/pathogen/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "vim/pathogen/zencoding-vim"]
	path = vim/pathogen/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/pathogen/gist-vim"]
	path = vim/pathogen/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "vim/pathogen/webapi-vim"]
	path = vim/pathogen/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "vim/pathogen/vim-g"]
	path = vim/pathogen/vim-g
	url = https://github.com/szw/vim-g
