vim/.netrwhist
vim/tmp
vim/plugged
vim/undodir
vim/autoload/plug.vim
config/gh
irssi/certs/*.pem
irssi/fnotify
tmux/plugins/*
tmux/resurrect
Brewfile.lock.json
zsh/secrets
config/configstore/update-notifier-npm.json
config/op*
config/github-copilot*
config/configstore
config/zed
config/btop/*.log
config/spin
config/lnav
config/graphite
config/uv
config/containers
config/psst
config/roast
config/insomnia
shopify/zshrc.sh
config/schemas/**/*.log
config/local-mcp-tunnel*
