[mysqld]
thread_concurrency = 16
innodb_data_file_path = ibdata1:100M:autoextend
innodb_buffer_pool_size = 1024M
innodb_log_file_size = 256M
innodb_log_buffer_size = 32M
innodb_flush_log_at_trx_commit = 2
innodb_stats_on_metadata=0
innodb_file_per_table
innodb_autoinc_lock_mode=2
lower_case_table_names=2
table_open_cache=800
# remove STRICT_TRANS_TABLES from sql_mode
sql_mode=NO_ENGINE_SUBSTITUTION
# allow more connections
max_connections = 275
# utf8 should be the default
collation_server=utf8_general_ci
init-connect='SET NAMES utf8'
character_set_server=utf8
# allow 3 letter full text searching
ft_min_word_len=3
innodb_ft_min_token_size=3
max_allowed_packet = 64M
wait_timeout = 600

[mysqldump]
quick
max_allowed_packet = 64M

[mysql]
no-auto-rehash
default_character_set=utf8
