<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.workbench.lifx-dash-bulbs</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>DASH_LIVING_MAC_ADDR</key>
      <string></string>
      <key>DASH_BEDROOM_MAC_ADDR</key>
      <string></string>
      <key>LIFX_HTTP_API_KEY</key>
      <string></string>
    </dict>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>/u/code/workbench/bin/lifx_dash_bulbs</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/Library/Logs/lifx-dash_bulbs.error.log</string>
    <key>StandardOutPath</key>
    <string>/Library/Logs/lifx-dash-bulbs.log</string>
    <key>KeepAlive</key>
    <false/>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
