snippet rbug
	require 'ruby-debug'
	debugger

snippet pryme
	require 'pry'
	binding.pry

snippet rpry
	require 'pry'
	binding.remote_pry

snippet logr
	Rails.logger.info("===========> #{${1:message}} ${2}")

snippet rlog
	Rails.logger.info("===== in here ======")
