<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.workbench.updatesoundcloudplaylists</string>
    <key>ProgramArguments</key>
    <array>
      <string>/u/apps/workbench/bin/update_soundcloud_playlists</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>17</integer>
        <key>Minute</key>
        <integer>22</integer>
    </dict>
</dict>
</plist>
