<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>LANG</key>
      <string>en_GB.UTF-8</string>
    </dict>
    <key>Label</key>
    <string>com.workbench.monolith-duplicity-backups</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>/u/code/workbench/bin/monolith_duplicity_backup</string>
    </array>
    <key>StandardErrorPath</key>
    <string>/Users/matt/Library/Logs/monolith_duplicity_backup.error.log</string>
    <key>StandardOutPath</key>
    <string>/Users/matt/Library/Logs/monolith_duplicity_backup.log</string>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Weekday</key>
      <integer>0</integer>
      <key>Hour</key>
      <integer>0</integer>
      <key>Minute</key>
      <integer>32</integer>
    </dict>
  </dict>
</plist>
